body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Section */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: orange;
}

/* Hero Section */
.hero {
    background-color: #4cb4a2;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero-content h1 {
    font-size: 5rem;
}

.hero-content p {
    font-size: 3rem;
    margin: 20px 0;
}

.cta-button {
    background-color: darkslategrey;
    color: lightcyan;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* About Section */
.about {
    padding: 50px 20px;
    text-align: center;
    background-color: #f1f1f1;
}

h3 {
    font-size: 2rem;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
    color: #423e67;
}

/* Skills Sections */
.skills {
    padding: 50px 20px;
    text-align: center;
    background-color: rgb(83, 201, 183);
}

.skills h2 {
    font-size: 2.5rem;
}

.skills-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.skill-item {
    padding: 20px;
    background-color: #2ba599;
    border-radius: 10px;
    width: 25%;
}

/* Projects Section */
.projects {
    padding: 50px 20px;
    text-align: center;
    margin: 20px 0;
}

.projects h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.projects-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.project-item {
    background-color: #a1f4e3;
    padding: 20px;
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project-item img {
    width: 60%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Contact Section */
.contact {
    background-color: #527785;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.contact p {
    color: #41beb1;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.contact-info {
    width: 45%;
}

.contact-item {
    background-color: cadetblue;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.contact-item a {
    color: #438181;
    text-decoration: none;
    font-weight: bold;
}

.contact-item a:hover {
    text-decoration: underline;
    color: #c5d4d4;
}

.contact-form {
    width: 45%;
    background-color: cadetblue;
    padding: 20px;
    border-radius: 10px;
}

.contact-form input, .contact-form textarea {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-size: 1rem;
}

.contact-form button[type="submit"] {
    background-color: #1cb5b3;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button[type="submit"]:hover {
    background-color: #333;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 1rem;
}